html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
 --gap: 30px;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
    url('../fonts/OpenSansRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Light'),
  url('../fonts/OpenSansLight.woff2') format('woff2'),
  url('../fonts/OpenSansLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'),
  url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
  url('../fonts/OpenSansSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  position: relative;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px 35px;
  background-color: #3172b9;
  color: #fff;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border-radius: inherit;
  border: 1px solid #3172b9;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: #71A7E2;
}

.btn:active {
  background-color: #0e3b6c;
}

.btn:active::after {
  opacity: 0;
}

.btn:disabled {
  background-color: #c4c4c4;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section__title {
  margin: 0 0 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section__description {
  margin: 0 0 50px;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/* header */

.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header__container {
  align-items: center;
}

.nav__link {
  position: relative;
  font-weight: 600;
  color: #1c1c1c;
  font-size: 15px;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 3px;
  outline: 1px solid #71A7E2;
}

.nav__link:hover {
  color: #71A7E2;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:active {
  color: #3172b9;
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 52px;
}

.nav__item:not(:last-child) {
  margin-right: 52px;
}

/* hero */

.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin: 0 0 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
}

.hero__description {
  margin: 0 0 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero__btn {
  margin-bottom: 14px;
  min-width: 250px;
  padding: 20px 60px;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__secure {
  font-size: 11px;
  line-height: 155%;
  color: #787878;
  text-transform: uppercase;
  background-image: url("../img/secure.svg");
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
  padding-left: 30px;
}

/* services */

.services {
  border-bottom: 1px solid #dadada;
}

.services__title {
  text-align: center;
}

.services__description {
  text-align: center;
}

.services__item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: calc(100% - (var(--gap) * 3) / 4);
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out,
              border-color 0.3s ease-in-out;
}

.services__item:hover {
  border-color: #3172b9;
  background-color: #3172b9;
}

.services__item:not(:nth-child(4)) {
  margin-right: 30px;
}

.services__item--icon {
  fill: #3172b9;
  margin-bottom: 25px;
  transition: fill 0.3s ease-in-out;
}

.services__item:hover .services__item--icon--fill {
  fill: #fff;
}

.services-item-title {
  margin: 0 0 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
}

.services__item:hover .services-item-title {
  color: #fff;
}

.services-item-description {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.services__item:hover .services-item-description {
  color: #fff;
}

/* articles */

.articles {
  border-bottom: 1px solid #dadada
}

.articles-list {
  flex-wrap: wrap;
}

.articles-item {
  width: 570px;
  margin-bottom: var(--gap)
}

.articles-item:not(:nth-child(2n)) {
  margin-right: var(--gap)
}

.blog-preview {
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.blog-preview-link {
  position: relative;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.blog-preview-link:focus {
  background-color: #71A7E2;
}

.blog-preview-link:hover {
  background-color: #3172b9;
}

.blog-preview-link:active {
  background-color: #0e3b6c;
}

.blog-preview-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.blog-preview-link:focus .blog-preview-time{
  color: #fff;
}

.blog-preview-link:hover .blog-preview-time{
  color: #fff;
}

.blog-preview-link:active .blog-preview-time{
  color: #fff;
}

.blog-preview-title {
  margin: 0 0 15px;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.blog-preview-link:focus .blog-preview-title{
  color: #fff;
}

.blog-preview-link:hover .blog-preview-title{
  color: #fff;
}

.blog-preview-link:active .blog-preview-title{
  color: #fff;
}

.blog-preview-description {
  margin: 0;
  max-width: 210px;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.blog-preview-link:focus .blog-preview-description{
  color: #fff;
}

.blog-preview-link:hover .blog-preview-description{
  color: #fff;
}

.blog-preview-link:active .blog-preview-description{
  color: #fff;
}

/* clients */

.clients {
  border-bottom: 1px solid #dadada;
}

.clients-item {
  flex-direction: column;
  width: calc(100% - (var(--gap) * 2) / 3);
  padding: 50px 36px 30px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.clients-item-description {
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients-user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #dadada;
  width: 100%;
  padding-top: 28px;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients-avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #3172b9;
  border-radius: 100%;
}

.clients-name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
}

.clients-post {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/* contacts */

.contacts {
  border-bottom: 1px solid #dadada;
}

.contacts-address {
  font-style: normal;
}

.contacts__item {
  flex-direction: column;
  width: calc(100% - (var(--gap) * 2) / 3);
  padding-top: 48px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
}

.contacts__item:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.contacts__address_location_icon {
  background-image: url('../img/location.svg');
}

.contacts__address_phone_icon {
  background-image: url("../img/phone.svg");
}

.contacts__address_email_icon {
  background-image: url("../img/email.svg");
}

.contacts__item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.contacts__item-text {
  margin: 0;
  max-width: 215px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts__item-link {
  justify-content: flex-start;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.contacts-item-link:hover {
  color: #71A7E2;
}

.contacts-item-link:focus {
  outline: 1px solid #71A7E2;
}

.contacts-item-link:active {
  outline: none;
  color: #0e3b6c;
}

/* join us*/

.join-us {
  border-bottom: 1px solid #c4c4c4;
}

.join-us-title {
  text-align: center;
}

.join-us-description {
  margin-bottom: 30px;
  text-align: center;
}

.form {
  padding-left: 55px;
  padding-right: 55px;
}

.form-top {
  margin-bottom: 19px;
  justify-content: space-between;
}

.form-left {
  width: 49%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__right {
  width: 49%;
}

.form__input {
  margin-bottom: 20px;
  padding: 15px 28px;
  width: 251px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid #dadada;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__input:hover {
  border-color: #71A7E2;
}

.form__input:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);;
}

.form__input:active {
  border-color: #0e3b6c;
}

.phone {
  margin-bottom: 0;
}

.form__select {
  padding: 15px 28px;
  width: 251px;
  height: 60px;
  border: 1px solid #dadada;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__select:hover {
  border-color: #71A7E2;
}

.form__select:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);;
}

.form__select:active {
  border-color: #0e3b6c;
}

.form__textarea {
  width: 100%;
  height: 100%;
  padding: 15px 28px;
  border: 1px solid #dadada;
  border-radius: 20px;
  resize: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__textarea:hover {
  border-color: #71A7E2;
}

.form__textarea:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);;
}

.form__textarea:active {
  border-color: #0e3b6c;
}

.form__bottom {
  justify-content: flex-end;
}

.form__wrapper {
  flex-direction: column;
  align-items: center;
}

.form__btn {
  min-width: 230px;
  margin-bottom: 9px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
}

.form-check {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form-check input {
  margin-right: 8px;
}

.form-check a {
  color: #3172b9;
  border-bottom: 1px solid #3172b9;
}

/* footer */

.footer {
  padding: 42px 0;
}

.footer__container {
  align-items: center;
  justify-content: space-between;
}

.footer__left, .footer__right {
  align-items: center;
}

.footer__logo {
  margin-right: 25px;
}

.footer-copy {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 3px;
  outline: 1px solid #71A7E2;
}

.nav__link:hover {
  color: #71A7E2;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:active {
  color: #3172b9;
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
}

.footer__nav .nav__item:not(:last-child) {
  margin-right: 28px;
}

.footer__nav {
  margin-right: 56px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 32px;
}

.footer__social-link svg {
  width: 24px;
  height: 24px;
  fill: #000;
  transition: fill 0.3s ease-in-out;
}

.social-link-mail svg{
  fill: transparent;
  stroke: #000;
  transition: stroke 0.3s ease-in-out;
}

.footer__social-link:hover svg{
  fill: #71A7E2;
}

.social-link-mail:hover svg {
  fill: transparent;
  stroke: #71A7E2;
}

.footer__social-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}

.footer__social-link:active svg{
  outline: none;
  fill: #3172b9;
}

.social-link-mail:active svg {
  fill: transparent;
  stroke: #3172b9;
}
