html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
    url('../fonts/OpenSansRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Light'),
  url('../fonts/OpenSansLight.woff2') format('woff2'),
  url('../fonts/OpenSansLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'),
  url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
  url('../fonts/OpenSansSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px 35px;
  background-color: #3172b9;
  color: #fff;
  border-radius: 3px;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section__title {
  margin: 0 0 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section__description {
  margin: 0 0 50px;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/* header */

.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header__container {
  align-items: center;
}

.nav__link {
  font-weight: 600;
  color: #1c1c1c;
  font-size: 15px;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 52px;
}

.nav__item:not(:last-child) {
  margin-right: 52px;
}

/* hero */

.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin: 0 0 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
}

.hero__description {
  margin: 0 0 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero__btn {
  margin-bottom: 14px;
  min-width: 250px;
  padding: 20px 60px;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__secure {
  font-size: 11px;
  line-height: 155%;
  color: #787878;
  text-transform: uppercase;
  background-image: url("../img/secure.svg");
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
  padding-left: 30px;
}

/* services */

.services {
  border-bottom: 1px solid #dadada;
}

.services__title {
  text-align: center;
}

.services__description {
  text-align: center;
}

.services__item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: 270px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.services__item:not(:nth-child(4)) {
  margin-right: 30px;
}

.services__item--icon {
  margin-bottom: 25px;
}

.services-item-title {
  margin: 0 0 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
}

.services-item-description {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
}

/* articles */

.articles {
  border-bottom: 1px solid #dadada
}

.articles-list {
  flex-wrap: wrap;
}

.articles-item {
  width: 570px;
  margin-bottom: 30px;
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview {
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.blog-preview-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
}

.blog-preview-title {
  margin: 0 0 15px;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
}

.blog-preview-description {
  margin: 0;
  max-width: 210px;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
}

/* clients */

.clients {
  border-bottom: 1px solid #dadada;
}

.clients-item {
  flex-direction: column;
  width: 370px;
  padding: 50px 36px 30px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients-item-description {
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients-user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #dadada;
  width: 100%;
  padding-top: 28px;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients-avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #3172b9;
  border-radius: 100%;
}

.clients-name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
}

.clients-post {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/* contacts */

.contacts {
  border-bottom: 1px solid #dadada;
}

.contacts-address {
  font-style: normal;
}

.contacts__item {
  flex-direction: column;
  width: 370px;
  padding-top: 48px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
}

.contacts__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contacts-address-location-icon {
  background-image: url('../img/location.svg');
}

.contacts-address-phone-icon {
  background-image: url("../img/phone.svg");
}

.contacts-address-email-icon {
  background-image: url("../img/email.svg");
}

.contacts-item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.contacts-item-text {
  margin: 0;
  max-width: 215px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts-item-link {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/* footer */

.footer {
  padding: 42px 0;
}

.footer__container {
  align-items: center;
  justify-content: space-between;
}

.footer__left, .footer__right {
  align-items: center;
}

.footer__logo {
  margin-right: 25px;
}

.footer__copyright {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.nav__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #787878;
}

.nav__item:not(:last-child) {
  margin-right: 28px;
}

.footer__nav {
  margin-right: 56px;
}

.footer__social-link {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-item:not(:last-child) {
  margin-right: 32px;
}

.social-link-twitter {
  background-image: url("../img/twitter-icon.svg");
}

.social-link-linkedin {
  background-image: url("../img/linkedin-icon.svg");
}

.social-link-mail {
  background-image: url("../img/mail-icon.svg");
}
