html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'font', sans-serif;
}

.index-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.index-logo {
  display: block;
  margin-bottom: 50px;
}

.index-links-container {
  margin-bottom: 50px;
}

.link-to-page {
  display: inline-block;
  padding: 24px 49px;
  margin-right: 25px;
}

.link-to-page:last-child {
  margin-right: 0;
}

.article-main-container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

h1 {
  margin: 0 0 40px;
}

h2 {
  margin: 0 0 10px;
}

h3 {
  margin: 0 0 10px;
}

p {
  margin: 0 0 40px;
  width: 872px;
}

ul {
  margin-top: 0;
  padding-left: 15px;
}

figure {
  display: inline-block;
  margin: 0 0 40px;
  width: 872px;
}

li:not(:last-child) {
  margin-bottom: 20px;
}

.gray-block {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;
}

.gray-block:last-child {
  margin-bottom: 0;
  font: 400 15px / Arial;
}

.gray-block p {
  width: 692px;
  margin-bottom: 10px;
}

.article-usual-photo {
  margin-bottom: 40px;
}
