html {
  box-sizing: border-box;
}

:root {
  --marg50: 50px;
  --light-orange: #ffb84d;
  --main-orange: #ff9900;
  --dark-orange: #e1670e;
  --light-gray: #cacaca;
  --gray: #666666;
  --dark-gray: #414141;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-extrabold-webfont.woff") format("woff"),
  url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/montserrat-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/montserrat-semibold-webfont.woff") format("woff"),
  url("../fonts/montserrat-semibold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/montserrat-medium-webfont.woff") format("woff"),
  url("../fonts/montserrat-medium-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-regular-webfont.woff") format("woff"),
  url("../fonts/montserrat-regular-webfont.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

image {
  max-width: 100%;
}

body {
  max-width: 1980px;
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
}

/* global */

.flex {
  display: flex;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn_orange {
  transition: background 0.3s ease;
}

.btn_orange:focus {
  background: var(--light-orange);
}

.btn_orange:hover {
  background: var(--light-orange);
}

.btn_orange:active {
  background: var(--dark-orange);
}

/* header */

.header {
  margin-bottom: var(--marg50);
}

.header-container {
  height: 102px;
  align-items: center;
  padding: 0 75px;
  background: white;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 32px 32px;
}

.header__nav {
  margin-left: auto;
}

.header__item {
  margin-right: 85px;
  transition: color 0.3s ease;
}

.header__item:focus {
  border-bottom: 2px solid var(--main-orange);
  margin-bottom: -2px;
}

.header__item:hover {
  border-bottom: 2px solid var(--main-orange);
  margin-bottom: -2px;
}

.header__item:active {
  color: var(--dark-orange);
  border-bottom: 2px solid var(--dark-orange);
  margin-bottom: -2px;
}

.icon_search {

}

.icon_search svg {
  fill: transparent;
  stroke: black;
  transition: stroke 0.3s ease, outline 0.3s ease;
}

.icon_search:focus svg {
  fill: transparent;
  stroke: black;
  outline: 2px solid var(--main-orange);
}

.icon_search:hover svg {
  fill: transparent;
  stroke: var(--main-orange);
}

.icon_search:active svg {
  fill: transparent;
  stroke: black;
  outline: 0;
}


/* main */

.main {
  padding: 0 75px;
}

/* hero */

.hero-container {
  min-height: 620px;
  width: 100%;
  margin-bottom: var(--marg50);
  background-image: url("../img/main-img1.jpg");
  background-repeat: no-repeat;
}

.hero__content {
  max-width: 895px;
  padding: 106px 0 0 78px;
}

.hero__content_title {
  margin: 0 0 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: white;
}

.hero__content_description {
  margin: 0 0 90px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

.hero__content_btn {
  min-width: 280px;
  min-height: 78px;
  margin-bottom: 55px;
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
  color: white;
  background: var(--main-orange);
  border-radius: 16px;
}

.swipe-wrapper {
  margin: auto;
  max-width: 200px;
  max-height: 15px;
}

.swipe__icon:not(:last-child) {
  margin-right: 20px;
}

/* about-us */

.about-us {
  margin-bottom: 100px;
}

.about-us__title {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: black;
}

.about-us__description {
  margin: 0 0 var(--marg50);
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: black;
}

.about-us__card {
  max-height: 868px;
}

.card__first-type {
  position: relative;
  min-width: 868px;
  margin-right: 32px;
  background-image: url("../img/about-us1.jpg");
  background-repeat: no-repeat;
}

.card__content {
  position: absolute;
  align-items: center;
  width: 100%;
  padding: 50px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.card__text {
  max-width: 433px;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: white;
}

.card__button {
  min-width: 175px;
  min-height: 60px;
  margin-left: auto;
  color: white;
  border: 3px solid var(--main-orange);
  border-radius: 16px;
  transition: background 0.3s ease;
}

.card__button:focus {
  border: 0;
  background: var(--main-orange);
}

.card__button:hover {
  border: 0;
  background: var(--main-orange);
}

.card__button:active {
  border: 0;
  background: var(--dark-orange);
}

.card__second-type {
  width: 870px;
  padding: 65px 0 65px 60px;
  border: 1px solid var(--light-gray);
  border-radius: 32px;
}

.card__second-type:not(:last-child) {
  margin-bottom: 32px;
}

.card__title {
  margin: 0 0 8px;
  max-width: 452px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: black;
}

.card__description {
  margin: 0;
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: black;
}

.about-us__img {
  margin-right: 50px;
}

/* work */
.work {
  margin-bottom: 111px;
}

.work__title {
  margin: 0 0 50px;
  max-width: 430px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: black;
}

.steps__list {
  margin-bottom: 45px;
}

.steps__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.steps__item:not(:last-child) {
  margin-right: 85px;
}

.btn__work {
  transition: color 0.3s ease;
}

.btn__work:focus {
  outline: 2px solid var(--main-orange);
}

.btn__work:hover {
  color: var(--main-orange);
}

.btn__work:active {
  color: var(--dark-orange);
  outline: 0;
}


.work__content {
  max-width: 758px;
}

.work__buttons {
  margin-bottom: 0;
}

.work__content_text {
  margin-bottom: 18px;
}

.work__content_title {
  margin: 0 0 8px;
  max-width: 758px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: black;
}

.work__content_description {
  margin: 0;
  max-width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: black;
}

.button__work1 {
  margin-right: 32px;

  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;

  min-width: 175px;
  min-height: 60px;
  background: var(--main-orange);
  border-radius: 16px;
}

.button__work2 {
  min-width: 147px;
  min-height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: black;

  border: 1px solid black;
  border-radius: 16px;

  transition: color 0.3s ease, background 0.3s ease;
}

.button__work2:focus {
  color: white;
  background: var(--gray);
}

.button__work2:hover {
  color: white;
  background: var(--gray);
}

.button__work2:active {
  color: white;
  background: black;
}

.work__img {
  margin-left: auto;
  margin-top: auto;
}

/* questions */
.questions {
  margin-bottom: 100px;
}

.questions__title {
  margin: 0 0 32px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: black;
}

.questions__content {
  margin: 0;
  padding: 30px 0 30px 0;
  align-items: center;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}

.questions__content:focus {
  border-color: var(--main-orange);
}

.questions__content:hover {
  border-color: var(--main-orange);
}

.questions__content:active {
  border-color: black;
}

.questions__content svg {
  fill: var(--light-gray);
}

.questions__content:focus svg {
  fill: var(--main-orange);
}

.questions__content:hover svg {
  fill: var(--main-orange);
}

.questions__content:active svg {
  fill: var(--light-gray);
  transform: rotate(45deg);
}

.questions__content:focus .questions__question {
  color: var(--main-orange);
}

.questions__content:hover .questions__question {
  color: var(--main-orange);
}

.questions__content:active .questions__question {
  color: black;
}

.questions__question {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: black;
}

.question__icon {
  margin-left: auto;
  min-width: 50px;
  min-height: 50px;
}

/* footer */

.footer {
  background-color: black;
}

.footer-container {
  padding: 50px 75px;
  justify-content: space-between;
}

/* footer left */

.footer__left {
  max-width: 251px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__item {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--light-gray);
}

.footer__link {
  transition: color 0.3s ease, outline 0.3s ease;
}

.footer__link:focus {
  color: var(--light-gray);
  outline: var(--main-orange);
}

.footer__link:hover {
  color: var(--main-orange);
}

.footer__link:active {
  color: var(--dark-orange);
}

.footer__social-link:not(:last-child) {
  margin-right: 25px;
}

/* footer center */

.footer__center {
  flex-direction: column;
  max-width: 570px;
}

.footer__title {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--light-gray);
}

.footer__input {
  width: 570px;
  padding: 14px 0 14px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: white;

  border: 0;
  background: var(--dark-gray);
  border-radius: 16px;

  transition: background 0.3s ease;
}

.footer__label:not(:last-child) {
  margin-bottom: 25px;
}

.footer__input:focus {
  background: var(--gray);
}

.footer__input:hover {
  background: var(--gray);
}

.footer__input:active {
  background: var(--gray);
}

.footer__textarea {
  height: 150px;
  resize: none;
  margin-bottom: 32px;

}

.footer__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--light-gray);
}

.footer__button {
  margin-right: 22px;

  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;

  min-width: 269px;
  min-height: 58px;
  background: var(--main-orange);
  border-radius: 16px;
}

.checkbox__content {
  align-items: center;
}

.checkbox {
  margin-right: 4px;
}

.checkbox__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--light-gray);
}

/* footer right */

.footer__right {
  align-items: center;
  max-width: 363px;
}

.footer__right_text {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--light-gray);
}
