* {
  box-sizing: border-box;
}

:root {
  --color-orange: #ff9900;
  --color-lightBlack: #333;
  --color-white: #fff;
  --color-grey: #cacaca;
  --color-black: #000;
  --color-dark-orange: #e1670e;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

a {
  text-decoration: none;
  color: #222;
}

li {
  list-style-type: none;
}

h1,
h2,
p {
  margin: 0;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.btn {
  padding: 19px 36px;
  background-color: var(--color-orange);
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}

.container {
  max-width: 1800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 14px;
}

.hero__container {
  margin: 0 auto;
  max-width: 1800px;
}

.about__container {
  margin: 0 auto;
  max-width: 1800px;
}

.footer__container {
  max-width: 1800px;
}

.how-working__container {
  margin: 0 auto;
  max-width: 1800px;
}

.faq__container {
  margin: 0 auto;
  max-width: 1800px;
}

.header {
  border-radius: 0 0 32px 32px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
  height: 100px;
}

.header__container {
  padding-top: 14px;
}

/* section__header */

.menu__nav {
  display: flex;
  align-items: center;
}

.search-btn {
  cursor: pointer;
}

.search-btn:active path {
  stroke: var(--color-dark-orange);
}

.search-btn:hover rect {
  fill: var(--color-orange);
}

.search-btn:hover path {
  stroke: var(--color-orange);
}

.btn-reset {
  border: none;
  background-color: transparent;
}

.burger {
  display: none;
}

.header__logo {
  margin-right: auto;
}

.menu__nav-list {
  display: flex;
  align-items: center;
}

.menu__nav-item {
  margin-right: 85px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.menu__nav-link {
  transition: color 0.3s ease, border-bottom 0.1s ease;
}

.menu__nav-link:hover {
  color: var(--color-orange);
  border-bottom: 2px solid var(--color-orange);
}

.search:hover {
  fill: var(--color-orange);
}

.input__search {
  display: none;
  width: 240px;
  padding: 7px 7px;
  border: none;
  /*border: 1px solid var(--color-lightBlack);*/
  border-radius: 5px;
  cursor: pointer;
}

.input__search:hover {
  border-color: var(--color-dark-orange);
}

#menu.default {
  width: 100%;
}

#menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* main */

.main {
  margin-top: 50px;
}

/* section__hero */

.swiper-img-one {
  background-image: url("../img/section__hero-img.png");
}

.swiper-img-two {
  background-image: url("../img/pic_1.png");
}

.swiper-img-three {
  background-image: url("../img/pic_2.png");
}

.swiper-img {
  width: 100%;
  min-height: 668px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 32px;
}

.swiper-text {
  padding: 103px 80px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 20px;
  margin-bottom: 30px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--color-grey);
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.section__hero-heading {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  max-width: 61%;
  color: var(--color-white);
}

.section__hero-description {
  margin-top: 20px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  max-width: 50%;
  margin-bottom: 90px;
  color: var(--color-white);
}

.section__hero-button {
  padding: 24px 36px;
  transition: background-color 0.3s ease-in-out;
}

.section__hero-button:hover {
  background-color: var(--color-dark-orange);
}

.hero__button-text {
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  text-align: center;
  color: var(--color-white);
}

.section__hero-button:hover {
  background-color: var(--color-dark-orange);
}

/* section__about */

.section__about {
  margin-bottom: 100px;
}

.about__img-text-320 {
  display: none;
}

.section__about-heading {
  margin-top: 100px;
  margin-bottom: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

.section__about-description {
  margin-bottom: 85px;
  max-width: 70%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: black;
}

.about-img {
  width: 868px;
  height: 622px;
  position: relative;
}

.section__about-background {
  position: relative;
}

.about-img {
  min-height: 620px;
  height: 100%;
  width: 98%;
  background-image: url("../img/builder.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 32px;
}

.about-imt__text {
  min-height: 176px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 54px;
  padding-right: 68px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.about-img__description {
  max-width: 500px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-white);
}

.about-btn {
  background-color: transparent;
  border: 2px solid var(--color-orange);
  color: var(--color-white);
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.about-btn:hover {
  color: var(--color-white);
  background-color: var(--color-orange);
}

.about__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49.2%;
}

.about__content {
  display: flex;
  justify-content: space-between;
}

.about__list {
  margin: 0;
  padding: 0;
  border: 1px solid var(--color-grey);
  border-radius: 32px;
}

.about__item {
  display: flex;
  align-items: center;
  min-height: 295px;
  max-width: 870px;
  flex-direction: row;
}

.about__icon {
  background-image: url("../img/section-about-us-quality-img-first-block.svg");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 30px 40px;
  width: 450px;
  height: 165px;
}

.about__icon-last {
  background-image: url("../img/section-about-us-second-block-img.svg");
}

.about__text-heading {
  display: inline-block;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.about__text-description {
  max-width: 75%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-lightBlack);
}

/* section__how-working  */

.section__how-working {
  margin-bottom: 100px;
}

.how-working-heading {
  margin-bottom: 50px;
}

.how-working__content {
  display: none;
}

.how-working__content-active {
  display: block;
}

.how-working-item {
  margin-bottom: 45px;
  display: flex;
  padding: 0;
}

.how-working-item {
  margin-top: 0;
}

.step__inner {
  margin-right: 85px;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-lightBlack);
  transition: color 0.3s ease;
  cursor: pointer;
}

.step__inner:hover {
  color: var(--color-orange);
}

.step__inner:active {
  color: var(--color-dark-orange);
}

.step__inner:focus {
  border: 1px solid var(--color-dark-orange);
  color: var(--color-dark-orange);
}

.block-consulting__heading {
  margin-top: 0;
  margin-bottom: 13px;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.section__consulting__description {
  margin-bottom: 50px;
  max-width: 83%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-lightBlack);
}

.how-working__img {
  height: auto;
  width: 50%;
  border-radius: 32px;
}

.how-working--flex {
  display: flex;
  justify-content: space-between;
}

.how-working-content-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.how-working__button-group {
  display: flex;
  margin-top: auto;
}

.how-working__btn-item {
  margin-right: 32px;
}

.how-working__btn-item:hover {
  background-color: var(--color-dark-orange);
}

.how-working__button-first {
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 1s ease;
}

.how-working__button-second {
  background-color: transparent;
  border: 1px solid var(--color-lightBlack);
  font-size: 16px;
  line-height: 20px;
  transition: background-color 1s ease;
}

.how-working__second-btn-item {
  color: var(--color-black);
}

.how-working__second-btn-item:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}

/* section__FAQ */

.section__faq {
  margin-bottom: 100px;
}

.section__faq-heading {
  padding-bottom: 32px;
}

.section__faq-questions-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.faq-item__img:hover {
  fill: var(--color-orange);
}

.section__faq-questions__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 40px;
  padding-top: 40px;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-lightBlack);
  border-top: 1px solid var(--color-grey);
  transition: color 0.5s ease;
}

.accordion-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.ui-accordion .ui-icon {
  display: inline-block;
  min-width: 50px;
  height: 50px;
  background-image: url("../img/plus.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
}

.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
	background-image: url("../img/plus.svg");
}

.ui-accordion .ui-state-hover .ui-icon {
  background-image: url("../img/plus.svg");
}

.ui-accordion-header-icon .ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background-image: url("../img/plus.svg");
}

.ui-accordion .ui-state-active .ui-icon,
.ui-button:active .ui-icon {
  background-image: url("../img/+х.svg");
}

.ui-accordion .ui-widget-content {
  background: transparent;
  padding: 1em 0.2em !important;
}

.ui-accordion .ui-accordion-header {
  display: flex !important;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
  width: 100%;
  border: none;
  background: transparent;
  font-weight: 800;
  font-size: 24px !important;
  line-height: 32px;
  color: var(--color-lightBlack);
  transition: color 0.5s ease;
}

.ui-accordion .ui-accordion-header:hover {
  color: var(--color-orange);
}

.ui-accordion .ui-accordion-content {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-lightBlack);
  display: flex;
  flex-direction: column;
}

.accordion-item:hover .section__faq-questions__description {
  fill: var(--color-white);
}
.section__faq-questions__item:hover .section__faq-questions__description {
  fill: var(--color-orange);
}

.section__faq-questions__item:hover {
  color: var(--color-orange);
  border-top: 1px solid var(--color-orange);
}

.section__faq-questions__item:hover + .section__faq-questions__item {
  border-top: 1px solid var(--color-orange);
}

.section__faq-questions__item:last-child {
  border-bottom: 1px solid var(--color-grey);
}

.section__faq-questions__item:last-child:hover {
  border-bottom: 1px solid var(--color-orange);
}

/* section__footer */

.footer {
  background-color: black;
}

.button__checkbox {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.footer__left {
  display: flex;
  margin-right: 350px;
  flex-direction: column;
}

.form-checkbox {
  margin-right: 4px;
}

.footer__logo-img {
  margin-bottom: 20px;
}

.footer__left-list {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  color: var(--color-grey);
}

.footer__left-item {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}

.footer__left-item:last-child {
  margin-bottom: 0;
}

.footer__left-item:hover {
  color: var(--color-orange);
}

.section__footer-social-links {
  margin-top: 36px;
  display: flex;
}

.social-link:hover path {
  fill: var(--color-orange);
}

.social-link:not(:last-child) {
  margin-right: 25px;
}

.footer__svg {
  cursor: pointer;
}

.section__footer__middle-heading {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 59px;
  color: var(--color-grey);
}

.section__footer-middle {
  margin-right: 236px;
}

.footer__right-text {
  padding-top: 25%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
}

.input {
  width: 570px;
  height: 60px;
}

.input:hover {
  background-color: #666;
  color: var(--color-grey);
}

.textarea {
  width: 570px;
  height: 150px;
  padding: 14px 0 0 24px;
}

.textarea:hover {
  background-color: #666;
  color: var(--color-grey);
}

.footer__content {
  padding: 50px 0;
  display: flex;
}

.form-input {
  margin-bottom: 32px;
  padding-left: 24px;
  background-color: #414141;
  color: #cacaca;
  border: none;
  border-radius: 16px;
}

.form-input:last-child {
  margin-bottom: 0;
}

.textarea {
  margin-bottom: 0;
}

.form__checkbox-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
}

.form__button {
  /* margin-top: 32px; */
  margin-right: 25px;
  padding: 19px 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-white);
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: var(--color-dark-orange);
}

.social-link path:hover {
  fill: var(--color-orange);
}

.burger > span::before {
  content: "";
  top: -8px;
}

.burger > span::after {
  content: "";
  top: 8px;
}

@media (max-width: 3920px) {
  .header__container {
    padding-top: 14px !important;
  }
}

@media (max-width: 1798px) {
  .container {
    padding: 0 75px;
  }
}

@media (max-width: 1616px) {
  .section__footer-right {
    display: none;
  }
}

@media (max-width: 1366px) {
  .container {
    padding: 0 50px;
  }

  .section__footer-right {
    display: none;
  }

  .footer__left {
    margin-right: 250px;
  }

  .about-img__description {
    font-size: 13px;
  }

  .about-imt__text {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 18px;
  }

  .about-btn {
    font-size: 12px;
    line-height: 11px;
    margin-top: 15px;
  }

  .about-img {
    width: 97%;
  }

  .about__col:first-child {
    width: 60%;
  }

  .about__col:last-child {
    width: 59%;
  }

  .header__logo {
    margin-right: auto;
  }

  .section__hero-heading {
    max-width: none;
    font-size: 60px;
  }

  .section__hero-description {
    max-width: 70%;
  }

  .menu__nav-item {
    margin-right: 46px;
  }

  .section__about-description {
    max-width: none;
  }

  .form-input {
    width: 100%;
  }

  .section__footer-middle {
    margin-right: 0;
  }

  .section__footer-social-links {
    margin-top: auto;
  }
}

@media (max-width: 1024px) {
  .step__inner {
    margin-right: 37px;
  }

  .about-imt__text {
    flex-direction: row;
    padding: 20px 54px 20px 68px;
    align-items: center;
  }

  .about-img__description {
    font-size: 16px;
    line-height: 30px;
  }

  .section__hero-heading {
    max-width: none;
    font-size: 60px;
    line-height: 73px;
  }

  .section__hero-description {
    max-width: none;
    font-size: 20px;
    line-height: 24px;
  }

  .header__logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .menu__nav-list {
    display: none;
  }

  .menu__nav-link {
    font-size: 16px;
    color: #fff;
  }

  .menu__nav-item {
    display: block;
    margin: 0 0 20px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
  }

  .menu__nav-item:first-child {
    margin-top: 100px;
  }

  .burger {
    display: flex;
    z-index: 1001;
    cursor: pointer;
  }

  .burger > span,
  .burger > span::before,
  .burger > span::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
  }

  .menu__nav-list {
    visibility: visible;
    left: 0;
  }

  .is-open > span {
    transform: rotate(45deg);
  }

  .is-open > span::before {
    top: 0;
    transform: rotate(0);
  }

  .is-open > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .show {
    display: block;
    min-height: 100%;
    width: 100%;
    position: fixed;
    padding: 0;
    text-align: center;
    top: -16px;
    z-index: 100;
    left: 0;
    background-color: rgba(248, 248, 255, 0.9);
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.5);
  }

  .menu__nav-link {
    color: #222;
  }

  .burger {
    display: block;
    --burger-width: 30px;
    --burger-height: 23px;
    --burger-line-height: 10px;
    cursor: pointer;
  }

  .how-working__img {
    height: auto;
  }

  .how-working__right {
    height: 100%;
  }

  .section__consulting__description {
    margin-bottom: 45px;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    margin-right: 133px;
    margin-bottom: 33px;
  }

  .section__footer-right {
    display: none;
  }

  .section__footer-middle {
    margin-right: 0;
  }

  .footer__content {
    padding: 50px 0 0 0;
  }

  .section__about-description {
    max-width: none;
  }

  .about__list {
    margin-top: 32px;
  }

  .about__content {
    flex-direction: column;
    align-items: center;
  }

  .about__col:last-child {
    width: 100% !important;
  }

  .about-img {
    width: 100%;
  }

  .about__col:first-child {
    width: 100%;
  }

  .form-input {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .how-working--flex {
    display: flex;
    flex-direction: column-reverse;
  }

  .form-input {
    width: 100%;
  }

  .how-working__img {
    min-height: auto;
    width: 100%;
  }

  .how-working__right {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__left {
    margin-right: 73px;
  }

  .about__imt {
    width: 100%;
  }
  .step__inner {
    margin-right: 62px;
  }

  .how-working-content-left {
    margin-top: 78px;
    width: 100%;
  }

  .how-working-item {
    display: flex;
    justify-content: space-between;
  }

  .step__inner {
    font-size: 22px;
  }

  .step__inner:last-child {
    margin-right: 0;
  }

  .how-working__content-right {
    width: 20%;
  }

  .about__list {
    margin-top: 32px;
  }

  .section__about-description {
    max-width: none;
  }

  .about__content {
    flex-direction: column;
  }

  .burger {
    display: block;
  }

  .about-img {
    width: 100%;
  }

  .about__col {
    width: 100% !important;
  }

  .footer__logo-img {
    width: 224px;
    height: 72px;
  }

  .footer__middle-form {
    margin-bottom: 30px;
  }

  .button__checkbox {
    align-items: center;
  }

  .form__button {
    margin-right: 15px;
  }

}

@media (max-width: 768px) {

  .header {
    height: 69px;
  }

  .section__footer-social-links {
    margin-top: 20px;
  }

  .footer__logo-img {
    margin-bottom: 0;
  }

  .section__footer-middle {
    margin-bottom: 66px;
  }

  .footer__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__left-list {
    display: none;
  }

  .about__icon {
    max-width: 114px;
    max-height: 99px;
  }

  .about-img__text {
    padding: 0 40px;
  }

  .logo-img {
    width: 150px;
  }

  .section__hero-content {
    padding: 60px 0;
  }

  .section__hero-heading {
    max-width: none;
    font-size: 50px;
    line-height: 61px;
  }

  .section__hero-description {
    max-width: none;
    font-size: 18px;
    line-height: 22px;
  }

  .how-working__right {
    width: 100%;
    margin-bottom: 73px;
  }

  /* .how-working__img {
    min-height: 160px;
  } */

  .section__consulting__description {
    max-width: none;
  }

  .how-working--flex {
    display: flex;
    flex-direction: column-reverse;
  }

  .section__footer-middle {
    margin-left: 0;
  }

  .section__footer-left {
    max-width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .logo-img {
    width: 120px;
  }

  .swiper-img {
    min-height: 0;
  }

  .hero__button-text {
    font-weight: 700;
    font-size: 17px;
    line-height: 14px;
    text-align: center;
    color: var(--color-white);
  }

  .swiper-text {
    padding: 68px 20px;
    text-align: center;
  }

  .section__about-btn {
    margin-top: 10px;
  }

  .section__hero {
    margin-bottom: 0;
  }

  .section__about-heading {
    margin-top: 29px;
    font-size: 40px;
    line-height: 45px;
  }

  .section__hero {
    min-height: auto;
  }

  .about__text-heading {
    font-size: 20px;
  }

  .about__text-description {
    font-size: 15px;
  }

  .about__item {
    display: block;
    padding: 0 20px 20px;
  }

  .about-img__description {
    margin-bottom: 15px;
  }

  .section__hero-content {
    padding: 30px 0;
    text-align: center;
    align-items: center;
  }

  .section__hero-heading {
    font-size: 30px;
    line-height: 32px;
  }

  .section__hero-description {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 32px;
  }

  .section__hero-button {
    font-size: 18px;
    padding: 10px 30px;
  }

  .about-imt__text {
    flex-direction: column;
    padding: 15px;
    align-items: flex-start;
  }

  .checkbox {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
  }

  .button__checkbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .form-checkbox {
    display: block;
  }

  .form-checkbox {
    margin-right: 15px;
  }

  .form__button {
    margin-right: 10px;
  }

  .form__checkbox-text {
    display: block;
    font-size: 16px;
    line-height: 32px;
  }

  .footer__left {
    align-items: center;
    text-align: center;
    margin-right: 0;
  }

  .section__footer-middle {
    border-bottom: 1px solid #595959;
  }

  .form-input {
    width: 100%;
  }

  .step__inner {
    font-size: 16px;
    margin-right: 50px;
  }

  .how-working__btn-item {
    margin-right: 10px;
    padding: 15px 28px;
  }
}

@media (max-width: 375px) {
  .button__checkbox {
    flex-direction: column;
  }

  .checkbox {
    margin-top: 11px;
  }

  .how-working__button-first {
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    transition: background-color 1s ease;
  }

  .how-working__button-second, .how-working__button-first {
    font-size: 12px;
    line-height: 14px;
    padding: 11px 30px;
  }

  .how-working__button-first {
    width: 162px;
  }

  .how-working__btn-item {
    margin-right: 10px;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 15px 0;
  }

  .input__search {
    width: 71px;
    font-size: 10px;
  }

  .button__checkbox {
    flex-direction: column;
  }

  .checkbox {
    margin-top: 11px;
  }

  .swiper-text {
    padding: 74px 32px;
    text-align: center;
  }

  .swiper-img {
    min-height: 0;
  }

  .ui-accordion .ui-icon {
    width: 30px;
    height: 30px;
    background-size: contain;
  }

  .ui-accordion .ui-accordion-content {
    font-size: 12px;
    line-height: 22px;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 14px !important;
  }

  .section__faq-questions__description {
    font-size: 14px !important;
    line-height: 24px !important;
    font-weight: 500 !important;
  }

  .section__hero-button {
    padding: 10px 20px;
    text-align: center;
  }

  .hero__button-text {
    font-size: 12px;
    line-height: 14px;
  }

  .hero__container {
    padding: 0 15px 0;
  }

  .section__hero-heading {
    font-size: 20px;
    line-height: 24px;
  }

  .section__hero-description {
    font-size: 12px;
    line-height: 14px;
  }

  .logo-img {
    width: 97px;
  }

  .heading {
    font-size: 24px;
    line-height: 29px;
  }

  .section__about-description {
    font-size: 14px;
    line-height: 24px;
  }

  .about-imt__text {
    display: none;
  }

  .about-img {
    width: 290px;
    min-height: auto;
  }

  .about__img-text-320 {
    display: block;
    color: var(--color-lightBlack);
  }

  .about-img__description-320 {
    display: block;
    width: 90%;
    font-weight: 400;
    color: var(--color-lightBlack);
  }

  .about-btn-320 {
    padding: 10px 40px;
    color: var(--color-orange);
  }

  .about__item {
    padding: 0;
  }

  .about__icon {
    margin: 0 0 12px 0;
  }

  .about__text-heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .about__text-description {
    font-size: 14px;
    line-height: 28px;
    max-width: none;
  }

  .section__about-description {
    margin-bottom: 10px;
  }

  .about__list {
    border: none;
  }

  .step__inner {
    font-size: 14px;
    line-height: 17px;
    margin-right: 34px;
  }

  .step__inner:last-child {
    margin: 0;
  }

  .how-working__img {
    min-width: 280px;
    height: auto;
  }

  .how-working__right {
    margin-bottom: 16px;
  }

  .block-consulting__heading {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
  }

  .section__consulting__description {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }

  .how-working__button-group {
    flex-direction: row;
  }

  .how-working__button-second,
  .how-working__button-first {
    font-size: 12px;
    line-height: 14px;
    padding: 11px 30px;
  }

  .how-working__button-first {
    width: 162px;
  }

  .how-working__btn-item {
    margin-right: 10px;
  }

  .section__how-working {
    margin-bottom: 60px;
  }

  .section__faq {
    margin-bottom: 60px;
  }

  .form-input {
    width: 100%;
    margin-bottom: 25px;
  }

  .textarea {
    margin-bottom: 0;
  }

  .form__button-text {
    font-size: 12px;
    line-height: 14px;
  }

  .section__footer-middle {
    margin-bottom: 25px;
  }

  .footer__left {
    margin: 0 0 32px 0;
  }

  .footer__svg {
    width: 40px;
    height: 40px;
  }

  .container {
    padding: 0 15px;
  }
}
